In [1]:
import numpy as np
import pandas as pd

#  Import and read the file:
df = pd.read_csv("global_superstore_returns.csv")
df.head()

  Returned                  Order ID        Region
0      Yes  CA-2012-SA20830140-41210    Central US
1      Yes  IN-2012-PB19210127-41259  Eastern Asia
2      Yes  CA-2012-SC20095140-41174    Central US
3      Yes    IN-2015-JH158207-42140       Oceania
4      Yes    IN-2014-LC168857-41747       Oceania

In [2]:
# check size of dataset
df.shape

(1079, 3)

In [3]:
# check for missing values
print(df.isnull().sum())

Returned    0
Order ID    0
Region      0
dtype: int64

In [4]:
# check data types
df.dtypes

Returned    object
Order ID    object
Region      object
dtype: object

In [5]:
# Determine the number of unique values in each column.
df.nunique()

Returned       1
Order ID    1079
Region        24
dtype: int64

In [6]:
df["Order ID"].count()

1079

In [7]:
# Average Return Price by Category

df[["Category", "Sales"]].groupby("Category").mean()

KeyError: "None of [Index(['Category', 'Sales'], dtype='object')] are in the [columns]"