In [1]:
import numpy as np
import pandas as pd

#  Import and read the file:
df = pd.read_csv("resources/global_superstore_returns.csv")
df.head()

  Returned                  Order ID        Region
0      Yes  CA-2012-SA20830140-41210    Central US
1      Yes  IN-2012-PB19210127-41259  Eastern Asia
2      Yes  CA-2012-SC20095140-41174    Central US
3      Yes    IN-2015-JH158207-42140       Oceania
4      Yes    IN-2014-LC168857-41747       Oceania

In [3]:
df.shape

(1079, 3)

In [5]:
# check for missing values
print(df.isnull().sum())

Returned    0
Order ID    0
Region      0
dtype: int64

In [6]:
df.dtypes

Returned    object
Order ID    object
Region      object
dtype: object

In [8]:
df.Returned.

<bound method Series.unique of 0       Yes
1       Yes
2       Yes
3       Yes
4       Yes
       ...
1074    Yes
1075    Yes
1076    Yes
1077    Yes
1078    Yes
Name: Returned, Length: 1079, dtype: object>

In [ ]:
# change returned column to boolean