In [35]:
# import dependencies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
from sklearn.metrics import r2_score

In [36]:
# Import and read the file:
df = pd.read_csv("resources/cleaned_superstore_data.csv")
df.head(3)

,Unnamed: 0,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,Region,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,0,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High
1,1,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical
2,2,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium

In [37]:
# drop the weird unnamed column that appeared
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.columns

Index(['Order_Date', 'Ship_Date', 'Ship_Mode', 'Segment', 'City', 'State',
       'Country', 'Region', 'Market', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping_Cost', 'Order Priority'],
      dtype='object')

In [38]:
df.head(3)

,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,Region,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High
1,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical
2,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium

In [39]:
# get year month day into different columns, because why not?
df['order_year'] = pd.DatetimeIndex(df['Order_Date']).year
df['order_month'] = pd.DatetimeIndex(df['Order_Date']).month
df['order_day'] = pd.DatetimeIndex(df['Order_Date']).day

df['ship_year'] = pd.DatetimeIndex(df['Ship_Date']).year
df['ship_month'] = pd.DatetimeIndex(df['Ship_Date']).month
df['ship_day'] = pd.DatetimeIndex(df['Ship_Date']).day

df = df.drop(['Order_Date','Ship_Date'], axis=1)
df.head(3)

,Ship_Mode,Segment,City,State,Country,Region,Market,Category,Sub_Category,Product_Name,...,Discount,Profit,Shipping_Cost,Order Priority,order_year,order_month,order_day,ship_year,ship_month,ship_day
0,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,Samsung Convoy 3,...,0.0,62.15,40.77,High,2014,11,11,2014,11,13
1,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",...,0.1,-288.77,923.63,Critical,2014,2,5,2014,2,7
2,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",...,0.1,919.97,915.49,Medium,2014,10,17,2014,10,18

In [40]:
pd.get_dummies(df['Ship_Mode'], prefix = 'Ship_Mode')

,Ship_Mode_First Class,Ship_Mode_Same Day,Ship_Mode_Second Class,Ship_Mode_Standard Class
0,1,0,0,0
1,0,0,1,0
2,1,0,0,0
3,1,0,0,0
4,0,1,0,0
...,...,...,...,...
51285,0,1,0,0
51286,0,0,0,1
51287,0,0,1,0
51288,0,0,0,1
51289,0,0,1,0

In [34]:
def onehot_encode(df, column):
    df = df.copy()
    dummies = pd.get_dummies(df[column],prefix=column)
    df = pd.concat([df, dummies],axis=1)
    df = df.drop(column,axis=1)
    return df

In [ ]:
# One hot encode categorical features
for column in 

return df