In [8]:
# not ready to merge until return data is checked and cleaned in other ipynb file
# import packages
import pandas as pd

In [9]:
# Import and read the file:
df1 = pd.read_csv("resources/global_superstore_returns.csv")
df2 = pd.read_csv("resources/superstore_cleaned_with_OrderID.csv", index_col=[0])
df1.head(3)

  Returned                  Order ID        Region
0      Yes  CA-2012-SA20830140-41210    Central US
1      Yes  IN-2012-PB19210127-41259  Eastern Asia
2      Yes  CA-2012-SC20095140-41174    Central US

In [10]:
df2.head(3)

,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,Region,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium

In [11]:
# pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
#          left_index=False, right_index=False, sort=True,
#          suffixes=('_x', '_y'), copy=True, indicator=False,
#          validate=None)
df3_merged = pd.merge(df1, df2, on=["Order ID", "Order ID"])
df3_merged.head()

,Returned,Order ID,Region_x,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,...,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,Yes,CA-2012-SA20830140-41210,Central US,2012-10-28,2012-10-30,First Class,Consumer,Chicago,Illinois,United States,...,USCA,Technology,Phones,Apple iPhone 5S,2735.95,6,0.2,341.99,752.51,High
1,Yes,IN-2012-PB19210127-41259,Eastern Asia,2012-12-16,2012-12-19,First Class,Corporate,Taipei,Taipei City,Taiwan,...,Asia Pacific,Furniture,Tables,"Lesro Conference Table, with Bottom Storage",1715.16,2,0.0,720.36,725.57,Critical
2,Yes,IN-2012-PB19210127-41259,Eastern Asia,2012-12-16,2012-12-19,First Class,Corporate,Taipei,Taipei City,Taiwan,...,Asia Pacific,Furniture,Bookcases,"Safco Classic Bookcase, Pine",2197.50,5,0.0,153.75,627.27,Critical
3,Yes,IN-2012-PB19210127-41259,Eastern Asia,2012-12-16,2012-12-19,First Class,Corporate,Taipei,Taipei City,Taiwan,...,Asia Pacific,Furniture,Tables,"Lesro Round Table, with Bottom Storage",1356.03,3,0.0,311.85,458.97,Critical
4,Yes,IN-2012-PB19210127-41259,Eastern Asia,2012-12-16,2012-12-19,First Class,Corporate,Taipei,Taipei City,Taiwan,...,Asia Pacific,Furniture,Chairs,"Office Star Swivel Stool, Adjustable",882.15,5,0.0,114.60,203.92,Critical

In [13]:
df3_merged["Order ID"].count()

2220

In [6]:
# save merged dataframe to resources folder
df3_merged.to_csv("resources/merged_ss.csv")