In [1]:
# not ready to merge until return data is checked and cleaned in other ipynb file
# import packages
import pandas as pd

In [2]:
# Import and read the file:
return_df = pd.read_csv("resources/global_superstore_returns.csv")
df = pd.read_csv("resources/superstore_cleaned_with_OrderID.csv", index_col=[0])

In [3]:
# drop Order ID
return_df = return_df.drop(columns='Region')
return_df

     Returned                  Order ID
0         Yes  CA-2012-SA20830140-41210
1         Yes  IN-2012-PB19210127-41259
2         Yes  CA-2012-SC20095140-41174
3         Yes    IN-2015-JH158207-42140
4         Yes    IN-2014-LC168857-41747
...       ...                       ...
1074      Yes   IN-2014-DA1345058-41769
1075      Yes  US-2013-HG14845140-41530
1076      Yes   US-2013-SJ2021582-41543
1077      Yes  CA-2015-EB13870140-42269
1078      Yes    EG-2014-PM894038-41846

[1079 rows x 2 columns]

In [4]:
# pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
#          left_index=False, right_index=False, sort=True,
#          suffixes=('_x', '_y'), copy=True, indicator=False,
#          validate=None)
df3_merged = pd.merge(return_df, df, on='Order ID', how='right')
df3_merged.head()

,Returned,Order ID,Order_Date,Ship_Date,Ship_Mode,Segment,City,State,Country,Region,Market,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order Priority
0,NaN,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.77,High
1,NaN,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.63,Critical
2,NaN,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.49,Medium
3,NaN,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.16,Medium
4,NaN,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.04,Critical

In [14]:
# change returned "yes" to 1
df2 = df3_merged.replace('Yes', 1)

In [15]:
df2['Returned'].unique()

array([nan,  1.])

In [16]:
# fill Returned NaNs with 0
df2['Returned'] = df2['Returned'].fillna(0)
df2['Returned'].unique()

array([0., 1.])

In [17]:
df2["Returned"].nunique()

2

In [18]:
# save merged dataframe to resources folder
df2.to_csv("resources/merged_ss.csv")